header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}
/** api_status **/
div#api_status {
	display: inline-block;
	float: right;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-right: 30px;
	background-color: #CCCCCC;
}
#api_status.available {
	background-color: #FF545F;
}
